# {{ ansible_managed }}

[Desktop Entry]
Name=Jupyter
Icon=utilities-terminal
Comment=Jupyter Notebook Module
Exec={{ jupyter_venv }}/bin/jupyter notebook
Type=Application
Categories=Development;IDE;NumericalAnalysis;
